.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  
    h2 {
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .form-control {
        margin-right: 10px;
        width: auto;
      }
      .input-error {
        border: 1px solid red;
        background-color: #ffe6e6;
      }
      
      .error-message {
        color: red;
        font-size: 0.8em;
      }
      
  
      .btn {
        margin-left: 10px;
      }
    }
  }
  